a.switch-i18n {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.page-wrapper .page-inner {
    max-width: none;
    margin: 0 100px;
}
 .line {
    height: 1px;
    background: #485B6E;
    margin: 4px 8px;
}
